<html>

<head>
    <title> OpenTok Getting Started </title>
    <link href="../static/css/app.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        let apiKey = '{{ api_key }}';
        let sessionId = '{{ session_id }}';
        let token = '{{token}}';

    </script>
</head>


<body>
    <div>USERS</div><input type="text" id="connectionCountField" value="0"></input>
    <div class="videos">
        <div class="row">
            <div class="subscriber">
                <div id="subscriber1">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber2">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="subscriber">
                <div id="subscriber4">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber5">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber6">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="subscriber">
                <div id="subscriber7">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber8">
                </div>
            </div>
            <div class="subscriber">
                <div id="subscriber9">
                </div>
            </div>
        </div>


        <!-- <div id="publisher"></div> -->

    </div>

    <script type="text/javascript" src="/static/js/app.js"></script>
</body>

</html>
